<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueTodo</title>
    <script src="./vue.js"></script>
    <link rel="stylesheet" href="./src/style.css">
</head>

<body>
    <div id="app">
        <div class="container">
            <h1>Todo List</h1>

            <div v-if="!isEditing">
                <input type="text" v-model="todo">
                <input type="submit" value="add" @click="storeTodo">
            </div>
            <div v-else>
                <input type="text" v-model="todo">
                <input type="submit" value="update" @click="updateTodo">
            </div>
            <ol>
                <li v-for="(todo, index) in todos">
                    {{ todo }}
                    <button @click="editTodo(index, todo)">Edit</button>
                    <button @click="deleteTodo(index)">Delete</button>
                </li>
            </ol>

        </div>
    </div>

    
    <script>
        new Vue({
            el: '#app',

            data: {
                isEditing: false,
                selectedIndex: null,
                todo: '',
                todos: ['Test for Todo', 'Try Try Todo']
            },
            methods: {
                storeTodo() {
                    this.todos.push(this.todo)
                    this.todo = ''
                },

                editTodo(index, todo) {
                    this.todo = todo
                    this.selectedIndex = index
                    this.isEditing = true
                },

                updateTodo() {
                    this.todos.splice(this.selectedIndex, 1, this.todo)
                    this.isEditing = false
                },

                deleteTodo(index) {
                    this.todos.splice(index, 1)
                }
            }
        })
    </script>
    
</body>

</html>